.child{
    border: 2px solid black;
    border-radius: 10px 0px 0px 0px;
    margin: 10px;
    color: orange;
    text-align: center;
    
}
.box{
    width: 100%;
    height: 900px;
    border: 2px solid red;
    background: url(https://img.freepik.com/premium-photo/grainy-gradient-background-red-white-blue-colors-with-soft-faded-watercolor-border-texture_927344-24167.jpg?semt=ais_hybrid) no-repeat;
}
p{
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
}
